.w__forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  background-color: var(--color-light);
}


.w__forecast h4 {
    font-size: 20px;
}
.w__forecast_main-img {
    width: 50px;
}


.w__forecast_icons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.w__forecast_icons p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.w__forecast_icons img {
    width: 25px;
}



#feels_like {
    font-size: 12px;
  }

#desc {
    width: 50%;
}

@media screen and (max-width: 900px) {
  .w__forecast {
    flex-wrap: wrap;
    gap:25px
  }
}