/* .w__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  background-color: var(--color-light);
}

.w__main_city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w__main_city h1 {
    font-size: 2rem;
    font-weight: 600;
}

.w__main_city h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.w__main_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.w__main_icon h2 {
  font-size: 3.5rem;
  font-weight: 300;
}

.w__main_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.w__main_desc p:first-child {
    font-size: 1.25rem;
    font-weight: 600;
}

.w__main_moredata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.w__main_moredata-icons {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.w__main_moredata-icons p {
    display: flex;
    align-items: center;
    gap: 5px
} */
